main {
    position: relative;
    flex-grow: 1;
    display: flex;
    align-items: center;    

    min-height: 800px;
    height: 100vh;
}

.container-msg {
    width: 300px;
    height: max-content;
    padding: 10px;

    margin-left: 80px;
    
    background-color: var(--cinza);
    
    color: var(--azul-escuro);

    border-radius: 10px;
    box-shadow: 0px 5px 5px var(--preto-transparente);
}

.container-msg h2 {
    margin-bottom: 15px;
    margin-top: 15px;

    color: inherit;

    text-align: center;
}

.container-msg > p {
    color: inherit;
}

.container-msg > button {
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    height: auto;
    width: 100%;
    padding: 10px;
    margin-top: 1rem;
    font-size: 1.5rem;
    background-color: var(--verde);
    transition: background-color 0.1s ease;
}

.container-msg > button:hover {
    cursor: pointer;
    background-color: var(--verde3);
}

/* Animação bg */

@keyframes ondasBg{
    0% {
        border-bottom-left-radius: 50%;

    }
    
    50% {
        border-bottom-left-radius: 100%; 
    }

    100% {
        border-bottom-left-radius: 50%;
    }
}

@keyframes zoomOut {
    from {
        background-size: 800%;
        background-position: 35% 25%;
    }
    to {
        background-size: 200%;
        background-position: 50% 50%;
    }
}

.img-wrapper {
    overflow: hidden;
}

#bg-galaxia {
    position: absolute;

    bottom: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: -1;

    object-fit: cover;

    border-bottom-left-radius: 100%; 

    background-image: url("../img/galaxia.jpg");
    background-repeat: no-repeat;

    animation: 10s linear infinite ondasBg, 15s ease-in-out forwards zoomOut;
}